push.sh
*.csv
*.exe
reference_years.txt
planned_number_of_sequencings.txt
autocorrection_log.txt
ERROR_ALERT.TXT
OutputVerif_Summary.txt
OutputVerif_ConflictingIndividuals.txt
OutputVerif_DetailedConflictingIndividuals.txt
OutputVerif_MisplacedBranches.txt
OutputStat_DamLineMembership_1.txt
OutputStat_DamLineMembership_2.txt
OutputStat_DamLineMembershipAllInRefPop.txt
OutputStat_DamLineMembershipFemaleOnlyInRefPop.txt
OutputStat_DamLinesWithFemalesInRefPop.txt
OutputStat_DamLinesWithOnlyMalesInRefPop.txt
OutputCalc_InputAndResults.txt
OutputSampl_IndividualsForSampling.txt
OutputSampl_DetailedInfo.txt
OutputSampl_AvailabilityRestrictions.txt
