push.sh
*.csv
*.tsv
*.txt
!requirements.txt
!final_report_11_samples.txt
!Sample_population_11_samples.txt
!SNP_Map.txt
!SNPs_310.txt
!recoded_busa_pedigree_SNP_string.txt
!subset_recode_busa_founder_1020.txt
*.xlsx
*.exe
*.json
!xgb_main.json
!snp2disease.json
!snp2human.json
!snp2bovine.json
*.pdf
*.png
!magFlow_imput.drawio.png
!Siamese.drawio.png
*.fam
*.lgen
*.map
*.fas
*.fasta
*.fa
*.sge
MUTATIONS_ALERT.TXT
ERROR_ALERT.TXT
__pycache__
.vs
