push.sh
*.csv
*.tsv
*.txt
!requirements.txt
*.xlsx
*.exe
*.json
!xgb_main.json
!snp2disease.json
!snp2human.json
!snp2bovine.json
*.pdf
*.png
!magFlow_imput.drawio.png
!Siamese.drawio.png
*.fam
*.lgen
*.map
*.fas
*.fasta
*.fa
*.sge
MUTATIONS_ALERT.TXT
ERROR_ALERT.TXT
__pycache__
.vs
